#!/usr/bin/make -f

# Uncomment  this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

%:
	dh $@

ifneq ($(DEB_HOST_GNU_TYPE), $(DEB_BUILD_GNU_TYPE))
override_dh_shlibdeps:
	echo "DEB_HOST_GNU_TYPE=$(DEB_HOST_GNU_TYPE)"
	dh_shlibdeps -l/usr/$(DEB_HOST_GNU_TYPE)/lib
endif

